#root {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: var(--color-surface);
  border-radius: var(--radius-md);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    height: auto;
  }
}

.title-container {
  background-color: var(--color-surface-a10);
  border-bottom: 4px solid var(--color-background);
  padding: 0 var(--spacing-md);
  display: flex;
  justify-content: center;
}

.introduction-container {
  padding: var(--spacing-md);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.introduction-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
